@font-face
{
	src:url();
	font-face:MyFont;
}

:root
{
	--main-bg-color:#D2B48C;;
}

@media only screen and (min-width: 768px)
{
	body
	{
		background-color:var(--main-bg-color);
	}
	
	header
	{
		height:150px;
		width:100%;
	}
	
	time
	{
		text-align:right;
		height:150px;
		width:15%;
	}
	
	.title
	{
		height:150px;
		width:50%;
	}
	
	.title .fa-play, .title div
	{
		font-family:"Times New Roman";
		display:inline-block;
		font-style:italic;
		font-weight:bold;
		font-size:100px;	
	}
	
	.H
	{
		float:right;
	}
	
	nav
	{
		background-color:#B0C4DE;
		font-family:MEFont;
		overflow: hidden;
	}

	nav a
	{
		text-decoration: none;
		padding: 14px 16px;
		font-size:16px;
		color:#000000;
		float: left;
	}
	
	nav form
	{
		padding: 12px 16px;
		float:right;
	}

	.DropDown
	{
		overflow:hidden;
		float:left;
	}

	.DDContent
	{
		border-color:var(--main-bg-color);
		background-color:#5F9EA0;
		box-sizing:border-box;
		border-width:0 8px;
		border-style:solid;
		position:absolute;
		display:none;
		width:100%;
		z-index:1;
		left:0;
	}

	.DDContent a 
	{
		text-decoration:none;
		display:inline-block;
		padding:12px 16px;
		font-size:16px;
		float:none;
	}

	.DDContent a:hover, .DropDown:hover 
	.DropButton, nav a:hover, nav .clicked
	{
		background-color:#888888;
	}

	.DropButton 
	{
		background-color:inherit;
		font-family:inherit;
		padding:14px 16px;
		font-size:16px;
		cursor:pointer;  
		outline:none;
		border:none;
		margin:0;
	}
	
	.show
	{
		display:block;
	}

	.DropDown .fa-caret-up
	{
		display:none;
	}
}