@font-face
{
	src:url();
	font-face:MyFont;
}

@media only screen and (min-width: 768px)
{
	body
	{
		background-color: #D2B48C;
	}
	
	header
	{
		height:200px;
		width:100%;
	}
	
	nav
	{
		background-color:#B0C4DE;
		font-family:MEFont;
		overflow: hidden;
	}

	nav a
	{
		text-decoration: none;
		padding: 14px 16px;
		font-size:16px;
		color:#000000;
		float: left;
	}

	nav a:hover
	{
		background-color:#888888;
	}
	
	nav form
	{
		padding: 12px 16px;
		float:right;
	}

	.DropDown
	{
		overflow:hidden;
		float:left;
	}

	.DDContent
	{
		
		background-color:#B0C4DE;
		position:absolute;
		min-width:160px;
		display:none;
		z-index:1;
	}

	.DDContent a 
	{
		text-decoration:none;
		padding:12px 16px;
		font-size:16px;
		display:block;
		color:#0080FF;
		float:none;
	}

	.DDContent a:hover 
	{
		background-color:#888888;
		color:#FFFFFF;
	}

	.DropButton 
	{
		background-color:inherit;
		font-family:inherit;
		padding:14px 16px;
		font-size:16px;
		cursor:pointer;  
		outline:none;
		border:none;
		margin:0;
	}

	.DropDown:hover .DropButton
	{
		background-color:#888888;
	}
	
	.DropDown:hover .DDContent
	{
		display:block;
	}
	
	.DropDown:hover .fa-caret-down
	{
		display:none;
	}
	
	.DropDown:hover .fa-caret-up
	{
		display:inline-block;
	}

	.DropDown .fa-caret-up
	{
		display:none;
	}
}